@import '../../styles/layout';

.header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  z-index: 100;
  justify-content: center;
  align-items: center;
  @media all and (max-width: 840px) {
    height: $mobileHeaderHeight;
    margin: 0 1rem;
  }

  @media all and (min-width: 841px) {
    height: $desktopHeaderHeight;
    margin: 0 2rem;
  }
}

.logoContainer {
  position: relative;
  cursor: pointer;
}
