@import '../../styles/font';
@import '../../styles/color';
@import '../../styles/layout';

.container {
  display: flex;
  z-index: 1;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;

  &.center {
    justify-content: center;
    text-align: center;
  }

  .tag {
    text-transform: capitalize;
  }
}
