@import '../styles/font';
@import '../styles/layout';
@import '../styles/color';

.logoContainer {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
}

.article {
  @include articleLayout();

  background-color: $blueLight;
  color: $black;

  @media (min-width: $lMin) {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: calc(100vh - #{$lHeaderHeight});
    padding-bottom: 0;
  }
  @media (max-width: $sMax) {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - #{$sHeaderHeight});
  }

  h1 {
    display: flex;
    flex: 1;
    align-items: center;
    padding-right: 1rem;
    margin: 0;
  }

  .carouselContainer {
    position: relative;
    display: flex;
    flex: 1;
    align-items: center;

    > div {
      position: relative;
      width: calc((#{$lContentWidth} / 3) * 2);
      height: calc((#{$lContentWidth} / 3) * 2);
    }
  }
}
