@import '../styles/font';
@import '../styles/layout';

.logoContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.article {
  flex-direction: row;
  width: 100vw;
}

.h1 {
  font-family: $neueDisplay;
  position: relative;
  z-index: 20;
  width: 55vw;
  padding-right: 2rem;
  margin: 0;
  font-size: 5vmin;
  font-weight: 600;
}

.carouselContainer {
  position: relative;
  right: 0;
  width: 40vmax;
  height: 40vmax;
}
