@import '../styles/font';

$h1FontSize: 6vmin;

.container {
  position: relative;
  display: flex;
  align-items: center;
  width: 90vw;
  min-height: calc(100vh - 240px);
  margin: 120px 10vw;
}

.h1 {
  position: relative;
  display: flex;
  z-index: 20;
  flex-direction: column;
  width: 60vw;
  margin: 0;
  font-size: $h1FontSize;
  line-height: 1.2;
}

.logoContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.carouselContainer {
  position: absolute;
  right: 0;
  width: 40vmax;
  height: 40vmax;
}
