@import '../styles/font';
@import '../styles/layout';

.row {
  padding: 0;
  list-style-type: none;

  li {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
  }

  .detailText {
    margin-left: 1rem;
  }
}
