.slideIn {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: #066bb8;
  transform-origin: left;
}

.slideOut {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: #066bb8;
  transform-origin: right;
}