@import '../../styles/image';
@import '../../styles/font';
@import '../../styles/color';
@import '../../styles/layout';

.article {
  @include articleLayout();
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: $culinaryCanvasPinkLight;
  color: $black;

  @media all and (max-width: 840px) {
    margin-top: -$sHeaderHeight;
  }

  h3 {
    text-align: center;
  }

  h4 {
    margin-top: 0;
  }
}

.triangle {
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
  border-top: 100vh solid $culinaryCanvasYellowLight;
  border-right: 50vw solid transparent;
  border-left: 50vw solid transparent;
  animation: longSlideDown 1s forwards;
}

@keyframes longSlideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

.nameContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  opacity: 0;
  transform: translateY(-25px);
  animation: reveal 2s 750ms forwards;

  @media (min-width: $lMin) {
    width: 50vw;
  }
  @media (max-width: $sMax) {
    width: 90vw;
  }
  .logoContainer {
    position: relative;
    width: 100%;
    height: 75vh;
  }
  .tagsContainer {
    justify-content: center;
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
    transform: translateY(-25px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.textContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  grid-auto-flow: row;
  height: 100%;
  margin: 1rem 0;
  font-size: 2rem;
  font-weight: 900;
  column-count: 1;
  @media (min-width: $lMin) {
    width: 50%;
    min-width: 500px;
  }
  @media (max-width: $sMax) {
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  p {
    flex: 1;
    margin: 1rem;
  }
}

.mockup1Container {
  @include mockup1Container();
}

.mockup2Container {
  @include mockup2Container();
}
