@import '../../../styles/font';

.container {
  position: relative;
  display: inline-block;
  margin: 0 1rem;

  a {
    font-family: $formaText;
    font-size: 20px;
    font-weight: 300;
  }
}

.wrapper {
  position: relative;
}

.selected {
  position: absolute;
  bottom: -8px;
  left: 0;
  height: 4px;
  background-color: black;
}
