@import '../styles/font';
@import '../styles/color';

$accent: $yellowLight;

.content {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: repeat(2, minmax(auto, 400px));
  gap: 3rem;
}

.packageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 2rem 2rem;
  background-color: #0267c1;
  border-radius: 32px;

  &.consultantContainer {
    border: 2px dashed white;
  }

  p {
    color: white !important;
    text-align: center;
  }

  h3 {
    left: 0;
    margin: 0.5rem 0 1rem;
    color: white !important;
    white-space: nowrap;

    span {
    }
  }

  h4 {
    @include biko();
  }

  small {
    margin-bottom: -0.5rem;
    color: white !important;
  }

  .price {
    @include biko();
    padding: 1rem;
    color: $accent !important;
    font-size: 2rem;
    font-weight: 200;
  }

  ul {
    @include formaDisplay();
    padding: 0;
    margin-bottom: 1rem;
    color: white !important;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 400;
    list-style-type: none;

    li {
      padding: 0.25rem 0;

      small {
        font-size: 0.75em;
      }
    }
  }

  .mailtoButton {
    margin-top: auto;
    margin-bottom: 0;
  }
}

.text {
  p {
    @include biko();
    font-weight: 200;
  }
}
