@import '../../styles/layout';
@import '../../styles/color';

.container {
  position: relative;
  display: grid;
  grid-template-columns: minmax(200px, 1fr) 1fr;
  width: 100%;
  height: 40vh;
  margin-bottom: 5rem;
  cursor: pointer;
  gap: 2rem;

  h3 {
    margin: 0.5rem 0;
  }
}

.imageContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .imageWrapper {
    width: 120%;
    height: 120%;
  }

  .imageCover {
    position: absolute;
    z-index: 20;
    width: 15vh;
    height: 15vh;
    background-color: #fff399;
  }
}

.textContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  justify-content: flex-end;
  height: 100%;
}
