.container {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
  padding: calc(100px + 1rem) 0 1rem;
  overflow-x: hidden;
  border: 2px solid red;
  h3 {
    margin: 0;
    a {
      color: inherit;
      text-decoration: none;
    }
  }
}
.imageContainer {
  position: relative;
  width: 50vw;
}
.image {
  justify-self: flex-end;
}
