@import '../../styles/layout';
@import '../../styles/color';

.container {
  position: relative;
  width: 100%;
  cursor: pointer;

  @media all and (min-width: 841px) {
    display: grid;
    grid-template-columns: minmax(200px, 1fr) 1fr;
    height: 40vh;
    margin-bottom: 5rem;
    gap: 2rem;
  }

  @media all and (max-width: 840px) {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
  }

  h3 {
    margin: 0.5rem 0;
  }
}

.imageContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: hidden;

  @media all and (max-width: 840px) {
    width: 100%;
    height: 40vh;
  }

  .imageWrapper {
    width: 120%;
    height: 120%;
  }

  .imageCover {
    position: absolute;
    z-index: 20;
    width: 15vh;
    height: 15vh;
    background-color: #fff399;
  }
}

.textContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  padding: 0 0 1rem;

  @media all and (max-width: 840px) {
    margin-top: 1rem;
  }
}

.tagsContainer {
  justify-content: flex-start;
  margin-top: 0.5rem;
}
