@import '../styles/color';
@import '../styles/layout';

.article {
  @include articleLayout();
  background-color: $white;
}

.otherContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  h2 {
    width: 100%;
    text-align: center;
    @media all and (max-width: 840px) {
      margin-top: 0;
    }
  }
}
