@import '../styles/color';
@import '../styles/layout';
@import '../styles/font';

.article {
  @include articleLayout();
  padding-right: 0 !important;
  padding-left: 0 !important;
  background-color: $white;
  color: $black;

  h1 {
    @include pageHorizontalPadding();
  }
}
.moreContainer {
  margin-bottom: 1rem;
  @include pageHorizontalMargin();

  ul {
    list-style-type: none;
    li {
      margin: 2rem 0;

      a {
        text-decoration: none;
      }

      h3 {
        margin: 0 0 0.5rem;
        font-size: 2rem;
        @media (max-width: $sMax) {
          font-size: 1.5rem;
        }

        div {
          display: inline-block;
          margin-left: 0.5rem;
          margin-right: 0.5rem;
        }
      }
    }
  }
}

.section {
  display: flex;
  flex-direction: column;
}
