@import '../../styles/font';

.container{
  padding: 2rem;
}

.button {
  @include neue-display();
  padding: 0.5rem 1rem;
  background-color: #fffd98;
  border: none;
  border-radius: 8px;
  color: rgba(21, 19, 37, 1) !important;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 900;

  &:hover{
    opacity: 1;
  }
}
