@import '../../styles/font';

.nav {
  position: fixed;
  top: 0;
  right: 1rem;
  display: flex;
  z-index: 100;
  align-items: center;
  height: 100px;
  font-family: $neueDisplay;

  a {
    color: inherit;
    text-decoration: none;
  }
}
