$white: #ffffff;
$black: #000000;
$coral: #ff7276;
$pinkLight: #ffdccc;
$blueLight: #b1f2fc;
$yellowLight: #fffd98;
$greyLightest: #dae2e7;
$greyLighter: #b5c5cf;
$grey: #7794a6;
$greyDark: #597688;
$culinaryCanvasPinkLight: #f2cfcf;
$culinaryCanvasYellowLight: #fff399;
$fragvistBeige: #f9eed3;
$fragvistBeigeDark: #6c510f;
