$neue-display: neue-haas-grotesk-display, sans-serif;
$neue-text: neue-haas-grotesk-text, sans-serif;
$biko: biko, sans-serif;

@mixin neue-display() {
  font-family: $neue-display;
}

@mixin neue-text() {
  font-family: $neue-text;
}

@mixin biko() {
  font-family: $biko;
}
