$orpheus: orpheuspro, biko, sans-serif;
$formaDisplay: forma-djr-display, sans-serif;
$formaText: forma-djr-text, sans-serif;
$biko: biko, sans-serif;

@mixin orpheus() {
  font-family: $orpheus;
}

@mixin formaDisplay() {
  font-family: $formaDisplay;
}

@mixin formaText() {
  font-family: $formaText;
}

@mixin biko() {
  font-family: $biko;
}

@mixin bodyFont() {
  font-family: $formaText;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.15;
}

@mixin h1Font() {
  font-family: $formaDisplay;
  font-size: 4.5rem;
  font-weight: 600;
}

@mixin h2Font() {
  font-family: $formaDisplay;
  font-size: 3.5rem;
  font-weight: 600;
}

@mixin h3Font() {
  font-family: $biko;
  font-size: 3.5rem;
  font-weight: 600;
}

@mixin h4Font() {
  padding-bottom: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  font-family: $biko;
  font-size: 0.85rem;
  font-weight: 900;
}

@mixin pFont() {
  font-weight: 300;
}
