$desktopHeaderHeight: 100px;
$mobileHeaderHeight: 60px;

@mixin headerHeight() {
  @media all and (max-width: 840px) {
    height: $mobileHeaderHeight;
  }

  @media all and (min-width: 841px) {
    height: $desktopHeaderHeight;
  }
}

@mixin bodyLayout() {
  width: 100vw;
  margin: 0;
}

@mixin mainLayout() {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;

  @media all and (max-width: 840px) {
    justify-content: center;
    padding-top: $mobileHeaderHeight;
  }
}

@mixin articleLayout() {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  margin: 0;

  @media all and (min-width: 841px) {
    justify-content: flex-start;
    padding: 2rem 10vw 10vh;
  }
  @media all and (max-width: 840px) {
    justify-content: center;
    padding: 1rem;
  }
}

@mixin pLayout() {
  margin-top: 0.25rem;
  margin-bottom: 2rem;
}
