$lHeaderHeight: 100px;
$sHeaderHeight: 60px;
$sMax: 840px;
$lMin: 841px;
$sContentWidth: 100vw;
$lContentWidth: 900px;

@mixin headerHeight() {
  @media (max-width: $lMin) {
    height: $sHeaderHeight;
  }

  @media (min-width: $lMin) {
    height: $lHeaderHeight;
  }
}

@mixin bodyLayout() {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
}

@mixin mainLayout() {
  margin: 0;
  @media (min-width: $lMin) {
    padding-top: $lHeaderHeight;
  }

  @media (max-width: $sMax) {
    padding-top: $sHeaderHeight;
  }
}

@mixin articleLayout() {
  width: 100vw;
  margin: 0;

  @media (min-width: $lMin) {
    min-height: calc(100vh - #{$lHeaderHeight});
    padding: 2rem calc((100vw - #{$lContentWidth}) / 2);
  }

  @media (max-width: $sMax) {
    min-height: calc(100vh - #{$sHeaderHeight});
    padding: 1rem calc((100vw - #{$sContentWidth}) / 2);
  }
}
