@import './font';

html,
body {
  padding: 0;
  margin: 0;
  font-family: orpheuspro, neue-haas-grotesk-display, sans-serif;
  font-size: 24px;
  font-weight: 400;
  scroll-behavior: smooth;
}

main {
  width: 100%;
  min-height: 100vh;
  padding-bottom: 3rem;
}

a {
  &:hover {
    opacity: 0.7;
  }
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 4.5rem;
  line-height: 1;
}

h2 {
  font-size: 4.5rem;
  line-height: 1;
}

h3 {
  font-size: 3rem;
  line-height: 1;
  @include biko();
}

h4 {
  text-transform: uppercase;
  @include biko();
  padding-bottom: 0;
  margin-bottom: 0;
  font-size: 0.85rem;
  font-weight: 900;
}

p {
  margin-top: 0.25rem;
  margin-bottom: 2rem;
}
